<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SEACommandsTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SEACommandsTranslator.Properties.Settings>
      <setting name="GameName" serializeAs="String">
        <value>SpaceEngineers</value>
      </setting>
      <setting name="ModLocalStorage" serializeAs="String">
        <value>C:\Users\User\AppData\Roaming\SpaceEngineers\Storage\</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>80</value>
      </setting>
    </SEACommandsTranslator.Properties.Settings>
  </userSettings>
</configuration>